.card {
  padding-bottom: 1em;
  margin: 0.5em 0.3em;
  width: 282px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.imgMovie {
  width: 100%;
}

.title {
  padding: 0 1em;
}

.favorite {
  padding: 1rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--gray);
  cursor: pointer;
}
