.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 1.1rem 2rem;
  background-color: var(--gray);
  color: var(--red);
}

span {
  font-size: 2rem;
}

nav {
  display: flex;
  gap: 1rem;
}
