:root {
  --font: "Montserrat Alternates", sans-serif;
  --red: #e50815;
  --black: #000000;
  --gray: #303030;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: 14px;
  background-color: var(--black);
}
